<!-- ======= Boxers Section ======= -->
<section id="boxers" class="boxers-section py-5">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="mb-3 section-title" style="color: #d80000">Our Boxers</h2>
      <p class="section-subtitle">
        Meet the fighters of SEB’s Elite Boxing Gym
      </p>
    </div>

    <div class="row g-4">
      <div class="col-12 col-md-6" *ngFor="let boxer of boxers">
        <div class="card glass-card h-100">
          <div class="card-img-top">
            <img [src]="boxer.image" [alt]="boxer.name" class="card-img-top" />
          </div>

          <div class="card-body text-center">
            <h5 class="card-title fw-bold">
              {{ boxer.name }}
              <small *ngIf="boxer.nickname" class="text-muted"
                >“{{ boxer.nickname }}”</small
              >
            </h5>
            <p class="card-text" style="color: #d80000">
              {{ boxer.weightClass }}
            </p>
            <p class="card-text">{{ boxer.record }}</p>
            <div class="d-flex justify-content-center gap-3 mt-3">
              <a
                *ngIf="boxer.instagram"
                [href]="boxer.instagram"
                target="_blank"
                class="text-dark fs-5"
              >
                <i class="bi bi-instagram"></i>
              </a>
              <a
                *ngIf="boxer.facebook"
                [href]="boxer.facebook"
                target="_blank"
                class="text-dark fs-5"
              >
                <i class="bi bi-facebook"></i>
              </a>
              <a
                *ngIf="boxer.twitter"
                [href]="boxer.twitter"
                target="_blank"
                class="text-dark fs-5"
              >
                <i class="bi bi-twitter-x"></i>
              </a>
              <a
                *ngIf="boxer.BoxRec"
                [href]="boxer.BoxRec"
                target="_blank"
                class="text-dark fs-5"
              >
                <i class="bi bi-trophy-fill"></i>
                <small style="color: red"> BoxRec</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Boxers Section -->
