.navbar {
  background-color: #000000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.navbar a {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: larger;
}
.navbar a:hover {
  color: #d80000;
  font-family: "Oswald", sans-serif;
  font-size: larger;
}
.nav-item {
  padding: 0 10px;
}
.nav-link {
  border: 2px solid transparent; /* Add this line */
  border-radius: 20px;
  transition: box-shadow 0.1s ease-in-out, border-color 0.1s;
  padding: 3px 28px; /* Increased padding for more space */
}
.nav-link:hover {
  border: 2px solid transparent; /* Keep border width same */
  border-radius: 20px;
  box-shadow: 0 0 12px #d80000, 0 0 24px #ff1f1f, 0 0 36px #ff6f6f; /* neon glow */
  transition: box-shadow 0.1s ease-in-out, border-color 0.1s;
}

.join-btn {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #ff1f1f;
  border-radius: 20px;
  padding: 3px 20px;
  font-size: larger;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.join-btn:hover {
  background-color: #000000;
  box-shadow: 0 0 12px #d80000, 0 0 24px #ff1f1f, 0 0 36px #ff6f6f; /* neon glow */
  text-decoration: none;
}
