.footer-section {
  background: #111;
  color: #ccc;
    font-family: 'Oswald', sans-serif;

  .footer-link {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
  }

  .footer-link:hover {
    color: #d80000;
  }

  .social-links a {
    color: #ccc;
    transition: 0.3s;
  }

  .social-links a:hover {
    color: #d80000;
  }

a.pts-link {
    color: #ccc;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
  }

  a.pts-link:hover {

  background: linear-gradient(45deg, #00f3ff, #9d00ff, #32cd32);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;

  display: inline-block;
  transform: scale(1.1);
  text-shadow: 0 0 5px rgba(0, 243, 255, 0.5),
               0 0 10px rgba(157, 0, 255, 0.3),
               0 0 15px rgba(50, 205, 50, 0.3);

  animation: glow 1.5s infinite alternate, moveGradient 3s linear infinite;
}


@keyframes glow {
  from {
    filter: drop-shadow(0 0 2px #00f3ff);
  }
  to {
    filter: drop-shadow(0 0 8px #00f3ff) drop-shadow(0 0 12px #9d00ff);
  }
}


@keyframes moveGradient {
  to { background-position: 200% center; }
}
}
